%h2 All Submission Feedback for #{@user.username}
-if (@role == "admin")
  -@users.each do |user|
    %h4 #{user.username}:
    - @response = SubmissionResponse.where(:user_id => user.id)
    - @response.each do |sub|
      - @submission = Submission.find(sub.submission_id)
      - @mission = Mission.find(@submission.mission_id)
      - @level = Level.find(@submission.level_id)
      = button_to "Level: #{@level.level_name} Mission: #{@mission.mission_name}", user_level_mission_submission_submission_response_path(user.id, @submission.level_id, @submission.mission_id, @submission, sub.id ), :method => :get
  %br
-else
  - @response = SubmissionResponse.where(:user_id => @user.id)
  - @response.each do |sub|
    - @submission = Submission.find(sub.submission_id)
    - @mission = Mission.find(@submission.mission_id)
    - @level = Level.find(@submission.level_id)
    = button_to "Level: #{@level.level_name} Mission: #{@mission.mission_name}", user_level_mission_submission_submission_response_path(params[:id], @submission.level_id, @submission.mission_id, @submission, sub.id ), :method => :get
  %br    
