-# edit.html.haml using partial

%h1 Change Password

= form_tag password_update_path(:id => @user.id), :method => :put do

  = label :user, :password, 'Current Password'
  = password_field :user, 'old_password'

  = label :user, :new_password, 'New Password'
  = password_field :user, 'new_password'

  = label :user, :new_password_confirmation, 'New Password Confirmation'
  = password_field :user, 'new_password_confirmation'

  = submit_tag 'Save Changes'
  
= link_to 'Back to profile', user_path(@user)
