%h1 Create New User

= form_tag users_path do

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :profile, :first_name, 'First Name'
  = text_field :profile, 'first_name'

  = label :profile, :last_name, 'Last Name'
  = text_field :profile, 'last_name'

  = label :user, :password, 'Password'
  = password_field :user, 'password'

  = label :user, :password_confirmation, 'Password Confirmation'
  = password_field :user, 'password_confirmation'

  = label :profile, :total_score, 'Total Score'
  = text_field :profile, 'total_score', :readonly => true , :value => '0'

  = label :user, :role,'Role'
  = text_field :user, 'role', :readonly => true, :value => 'user'
  %br
  = submit_tag 'Save Changes'
