-# in app/views/movies/show.html.haml

-if @user.role != "admin"
  %h1 Menu
  #applink.childDiv2= link_to "Locations", user_venues_path(@user)
  %br
  #applink.childDiv2= link_to "My Notifications", user_requests_path(@user)
  %br
  #applink.childDiv2= link_to "My Reservations", user_reservations_path(@user)
-else
  %table 
    Pending Requests
    %thead 
      %tr
        %th Request
        %th Requester
        %th Submitting Time
        %th Respond
    %tbody
      - @pending.each do |request|
        - @user = User.find(request.user_id)
        %tr
          %td= link_to "View", user_request_path(params[:id],request)
          %td= @user.username
          %td= request.updated_at
          %td= link_to "Respond", edit_user_request_path(params[:id],request)
  %br
  %table 
    Accepted Requests
    %thead 
      %tr
        %th Request
        %th Requester
        %th Status
    %tbody
      - @accepted.each do |request|
        - @user = User.find(request.user_id)
        %tr
          %td= link_to "View", user_request_path(params[:id],request)
          %td= @user.username
          %td= request.status
  %br
  %table 
    Declined Requests
    %thead 
      %tr
        %th Request
        %th Requester
        %th Status
    %tbody
      - @declined.each do |request|
        - @user = User.find(request.user_id)
        %tr
          %td= link_to "View", user_request_path(params[:id],request)
          %td= @user.username
          %td= request.status
  %br
  %table 
    Cancellation Requests
    %thead 
      %tr
        %th Request
        %th Requester
        %th Status
    %tbody
      - @canceled.each do |request|
        - @user = User.find(request.user_id)
        %tr
          %td= link_to "View", user_request_path(params[:id],request)
          %td= @user.username
          %td= request.status
  %br
