-# in app/views/movies/show.html.haml
!!! 5
%html
  %head
    %title Technology Education!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %style{ :type => "text/css" }
      :sass
        $left_col_width: 170px
        $right_col_width: 170px

        $padding: 15px

        #colmask.three-column
          position: relative
          clear: both
          float: left
          width: 100%
          overflow: hidden
        #colmid
          float: left
          width: 200%
          position: relative
          left: ($left_col_width + $padding + $padding)
        #colright
          float: left
          width: 100%
          position: relative
          left: 50%
          margin-left: -1 * ($left_col_width + $padding + $padding + $right_col_width + $padding + $padding)
        #col1wrap
          float: right
          width: 50%
          position: relative
          right: 100%
        #col1pad
          margin: 0 $padding 0 ($left_col_width + $padding + $padding + $right_col_width + $padding + $padding)
          overflow: hidden
        #col1
          width: 100%
          overflow: hidden
        #col2
          float: left
          width: $left_col_width
          position: relative
          margin-left: -50%
          left: 215px
          overflow: hidden
        #col3
          float: left
          width: $right_col_width
          position: relative
          left: 15px
          overflow: hidden

  #header
    #colmask.three-column
      #colmid
        #colright
          #col1wrap
            #col1pad
              #col1
                
                %h2 Details about user #{@user.username}
                %ul#attributes
                  %li
                    Email:
                    = @user.email
                  %li
                    First Name:
                    = @profile.first_name
                  %li
                    Last Name:
                    = @profile.last_name
                  %li
                    Total Score:
                    = @profile.total_score
                  %li
                    Role:
                    = @user.role
                    %br/
                    %br/
                    %br/
                    %span.profilelink= link_to 'Edit My Profile', edit_user_profile_path(@user)
                    %br/
                    %span.profilelink= link_to 'View All Feedback Submissions', user_profile_path(@user), :method => :get
          #col2
            %table.level_nav
              %thead
                %tr
                  %th LEVEL SELECT
              %tbody
                - @levels_all.each do |level_obj|
                  %tr
                    -if (@transactions.find_by_level_id(level_obj.id).complete_flag == "Not Complete")
                      %td.levellink= link_to "#{level_obj.level_name} ", user_level_path(@user,level_obj)
                    -else
                      %td.levellink= link_to "#{level_obj.level_name} Completed", user_level_path(@user,level_obj)
            %br	
          #col3
            %table#users
              %thead 
                LEADERBOARD
                %tr
                  %th Rank
                  %th User
                  %th Score
              %tbody
                - i = 0
                - @users_all.each do |user|
                  - @profile = @profilescore_all.find_by_user_id(user.id)
                  - i += 1
                  %tr
                    %td= i
                    %td= user.username
                    %td= @profile.total_score

      %h4 My Recent Completed Activities
      - @my_submissions.each do |sub|
        - @submission = Submission.find(sub.submission_id)
        - @mission = Mission.find(@submission.mission_id)
        - @level = Level.find(@submission.level_id)
        #{@level.level_name}: #{@mission.mission_name} on #{sub.created_at.strftime("%b. %d %Y at %H:%M") }
        %br
      %br
                    
      #footer
