-# in app/views/movies/show.html.haml

%h2 Details about user #{@user.username}

%ul#attributes
  %li
    Email:
    = @user.email
  %li
    First Name:
    = @user.first_name
  %li
    Last Name:
    = @user.last_name
  %li
    Password:
    = @user.password
  %li
    Total Score:
    = @user.total_score
  %li
    Level One Flag:
    = @user.level_one_flag
  %li
    Role:
    = @user.role

= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to user list', users_path
