- if !(@user_routed.username == @user.username)
  %h2 Details about request submitted by #{@user.username}
- else
  %h2 Details about request

%ul#details
  %li
    Status:
    = @request.status
  %li
    Position:
    = @user.position
  %li
    Department:
    = @user.department
  %li
    Leader:
    = @user.leader
  %li
    Venue:
    = @venue.location
    , 
    = @venue.room
    
    
