%h2 Mission completed: #{@level.level_name} 
= form_tag user_level_submission_submission_responses_path(@user, @level, @submission) do
  = label :submission_response, :rating, 'Rate this mission:'
  = select :submission_response, :rating, ['1','2','3','4','5']
  - @questions.each do |q|
    = label :submission, :response,  "#{q.question}"
    = text_area :submission, :reponse, :cols => "50", :name => "response", :rows => "5", :value => 'Answer here...'
  = submit_tag 'Submit Feedback'
