-# in app/views/movies/show.html.haml

%h2 Details about level #{@level.level_name}

%ul#attributes
  %li
    Points:
    = @level.points
  %li
    Activity:
    = @level.activity

  = button_to 'Complete Level', user_level_transactionlevel_path(params[:user_id],params[:id],@transaction), :method => :put
%br
%br
= link_to 'Back To Level Select', user_path(@user)
