-# in app/views/movies/show.html.haml

%h2 Details about level #{@level.level_name}

%ul#attributes
  %li
    Points:
    = @level.points
  %li
    Activity:
    = @level.activity

  = button_to 'Complete Level', feedback_path( :user_id => @user , :id => @level, :complete_flag => @transaction)
%br
%br
= link_to 'Back To Level Select', user_path(@user)
