-# in app/views/movies/show.html.haml

%h2 Details about level #{@level.level_name}

%ul#attributes
  %li
    Points:
    = @level.points
  %li
    Activity:
    = @level.activity

  = link_to 'Complete Level', user_level_submission_path( @user, @level, @submission)
%br
%br
= link_to 'Back To Level Select', user_path(@user)
