-# in app/views/movies/show.html.haml

%style{ :type => "text/css" }
  :sass    
    #leftcol 
    #rightcol
   
%div
  #leftcol
    #attributes 
    %br
  #rightcol
    %h1 #{@level.level_name}
    %p
      Possible Points:
      = @level.points
    %p
      = @level.activity.html_safe
    %h1 Below are the missions for #{@level.level_name}
    %table.mission_nav
      %thead
      %tbody
      - @missions_all.each do |mission_obj|
        %tr
          -if (@transactions.find_by_mission_id(mission_obj.id).complete_flag == "Not Complete")
            %td.missionlink.childDiv= link_to "#{mission_obj.mission_name} ", user_level_mission_path(@user,@level,mission_obj)
          -else
            %td.missionlink.childDiv= link_to "#{mission_obj.mission_name} Completed", user_level_mission_path(@user,@level,mission_obj)
    %br
    %br
    = link_to 'Back To Level Select', user_path(@user)
    %br
    %br
    %hr
