%h2 Details about mission #{@mission.mission_name}

%ul#attributes
  %li
    Points:
    = @mission.points
  %li
    Description:
    = @mission.description
  %li
    Mission:
    = @mission.url
-if (@transaction.complete_flag == "Not Complete")
  %td= button_to 'Submit Feedback', user_level_mission_submission_path(params[:user_id],params[:level_id], params[:id], @submission), :method => :get
-else
  %td= button_to 'View Feedback', user_level_mission_submission_submission_response_path(params[:user_id],params[:level_id], params[:id], @submission, @submission_response.id ), :method => :get  

%br
%br
= link_to 'Back To Mission Select', user_level_path(params[:user_id],params[:level_id])
