%h1 #{@mission.mission_name}
#attributes
  %p
    Points:
    = @mission.points
  %p
    Description:
    = @mission.description.html_safe
  %p
  -if(@transaction.complete_flag == "Complete" )
    %li
      Completed on:
      = @submission_response.created_at
-if (@transaction.complete_flag == "Not Complete")
  %td= button_to 'Submit Feedback', user_level_mission_submission_path(params[:user_id],params[:level_id], params[:id], @submission), :method => :get
-else
  %td= button_to 'View Feedback', user_level_mission_submission_submission_response_path(params[:user_id],params[:level_id], params[:id], @submission, @submission_response.id ), :method => :get  

  = @mission.url.html_safe

%br
%br
= link_to 'Back To Mission Select', user_level_path(params[:user_id],params[:level_id])
%br
%br
%hr
