!!! 5
%html
  %head
    %title Technology Education!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Technology Education!
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:error]
        #error.message= flash[:error]

      = link_to "Home", home_path, :method => :get
      - if !signed_in?
        = link_to "\tSign Out", signout_path, :method => :delete
      - else
        = link_to "\tSign-In", signin_path, :method => :get
        = link_to "\tSign-Up", signup_path, :method => :get
      

      = yield
