!!! 5
%html
  %head
    %title Principal Sport Reservations
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    %link{ :href => "/bootstrap/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }

    %link{ :href => "/css/styles.css", :type => "text/css", :rel => "stylesheet" }

    %link{ :href => "/bootstrap/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }	



  %head
    %h1.title Principal Sport Reservations
    #main
      - if flash[:notice] && flash[:level_complete]
        #notice.level_complete= flash[:level_complete]
        #notice.message= flash[:notice]
      - elsif flash[:notice]
        #notice.message= flash[:notice]
        %br
      - elsif flash[:warning]
        #warning.message= flash[:warning]
        %br
      - elsif flash[:error]
        #error.message= flash[:error]
        %br
      - else
        %br
        %br
      - if signed_in?
        #applink.childDiv2= link_to "Sign-Out", signout_path, :method => :delete, :id => "Sign-Out"
        #applink.childDiv2= link_to "Legal", user_path(current_user), :method => :get, :id => "Profile"
        #applink.childDiv2= link_to "Home", signin_path, :method => :get
        #applink.childDiv2= link_to_function "Back", "history.back()"
        %br
        #userinfo.childDiv2
          Current User: 
          = current_user.username      
      %br
      %br
      
      %div= yield
      = render :partial => 'layouts/footer'

      
